:root {
  --maroon: #FC5C63;
  --body-text-dark: #333;
  --text-light-grey: #CED1CC;
  --text-dark-grey: #565A5C;
  --light-gray: #fafafa;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: Hind, san-serif;
  /* major second ratio */
  color: var(--body-text-dark);
  position: relative;
  margin: 0;
  padding-bottom: 8rem;
  min-height: 100%;
}

/* .page-wrapper {
  height: 100%;
  margin-bottom: 6.5rem;
  position: relative;
} */

p {
  color: var(--text-dark-grey);
}

a:link,
a:visited {
  color: var(--maroon);
  /* border-bottom: 1px dotted ; */
}

a:hover,
a.next-link:hover {
  text-decoration: none;
  color: var(--maroon);
}


/* UTILITIES */
.margin-bottom-sm {
  margin-bottom: 2.566rem;
}

.margin-top-sm {
  margin-top  : 2.566rem;
}

/* MAIN */

.subtitle-heading,
.next, .pagination {
  font-family: 'Inconsolata', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--text-light-grey);
}

.btn-round {
  /* background-color: #fff; */
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.btn-round:hover {
  transform: scale(1.5, 1.5);
  color: var(--body-text-dark);
  /* background-color: var(--maroon); */
}

/* ================ NAVBAR ================ */

.navbar {
  background-color: var(--body-text-dark);
  padding: 0.7rem 3rem;
  font-size: 0.9rem;
}

.navbar-toggler {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.navbar-toggler:focus {
  outline: none;
}

.nav-toggle-icon {
  color: rgba(255, 255, 255, 0.5);
}

a.brand {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--text-dark-grey);
  letter-spacing: 2px;
  display: inline-block;
  transition: 0.3s ease;
}

.brand:hover {
  color: var(--maroon);
}
/* .brand:hover, a.nav-link:hover {
  text-decoration: none;
  color: #fff;
}

.brand::after, a.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width .3s;
}

.brand:hover::after, a.nav-link:hover::after {
  width: 100%;
} */

.primary-nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 2rem;
  transition: 0.3s ease;
}

.nav-link:last-of-type {
  margin-right: 0;
}

/* ================ INTRO ================ */

.intro {
  padding: 150px 0 90px 0;
  min-height: 70vh;
}

.greeting {
  color: var(--maroon);
  font-size: 4.624rem;
  font-weight: 600;
  margin-bottom: 20px;
  display: inline-block;
}

.tagline {
  font-size: 1.602rem;
  margin-bottom: 4.5rem;
  display: inline-block;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 1rem;
  border: none;
}

/* ================ PROJECTS ================ */

.section {
  padding: 100px 0;
}

.projects a, .post-title a {
  color: var(--body-text-dark);
}

.projects a:hover,
.post-title a:hover {
  color: var(--maroon);
}

.project-preview {
  margin-bottom: 60px;
}

.projects a:last-of-type .project-preview {
  margin-bottom: 0;
}

.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-title {
  font-family: 'Playfair Display', serif;
  font-size: 2.281rem;
  font-weight: 700;
}

.preview-tech {
  font-family: 'Inconsolata', sans-serif;
  margin-bottom: 1.2rem;
  color: var(--text-light-grey);
  font-size: 1rem;
}

.preview-summary {
  color: rgb(49, 49, 49);
}

.project-preview img {
  transition: all 0.3s ease;
}

.project-preview:hover img {
  transform: scale(1.1, 1.1);
}

/* ================ PROJECT INFO ================ */

.project-info {
  padding: 150px 0 100px 0;
}

.project-title h2, .post-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  font-size: 2.887rem;
  font-weight: 700;
}

.project-title {
  margin-bottom: 3rem;
}

.project-link,
.post-meta {
  font-family: 'Inconsolata', sans-serif;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-light-grey);
}

.project-desc .subtitle-heading {
  margin-bottom: 1rem;
}

.desc-group {
  margin-bottom: 2.441rem;
}

.project-thumbnail {
  text-align: center;
}

.project-pagination,
.pagination {
  padding: 50px 0;
  text-align: center;
}

.next-title {
  font-family: "Playfair Display", serif;
  font-size: 1.424rem;
  display: inline-block;
  margin: 0 2.027rem;
}

a.next-link {
  color: var(--body-text-dark);
}

/* ================ ABOUT ================ */
.about {
  background-color: #fafafa;
}

.about-me {
  display: flex;
  justify-content: space-between;
  /* vertical-align: top; */
  align-items: center;
}

/* ================ SKILLS ================ */
.skill {
  background-color: #fafafa;
  padding: 3rem 2rem;
  height: 100%;
  transition: all .3s;
}

.skill:hover {
  background-color: var(--maroon);
  transform: translateY(-1rem);
}

.skill:hover p {
  color: var(--body-text-dark);
}

/* ================ FOOTER ================ */

.footer {
  background-color: #fafafa;
  color: var(--body-text-dark);
  padding: 30px 0;
  font-size: 0.889rem;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer p {
  margin-bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7rem;
}

.footer-content .social-icons {
  display: flex;
  justify-content: flex-end;
}

.copyright {
  text-align: center;
}

/* ================ BLOG ================ */
.posts,
.single-post {
  padding-top: 70px;
}

.post {
  padding: 5rem 0;
  border-bottom: 1px solid var(--text-light-grey);
}

.post-header {
  margin-bottom: 3rem;
}

.post:last-of-type {
  border-bottom: 0;
}

.post-excerpt {
  margin-top: 2rem;
}

.read-more-wrapper {
  font-family: 'Inconsolata', sans-serif;
  text-align: center;
  margin-top: 2rem;
}

.read-more-link {
  color: var(--maroon);
  transition: 0.3s ease;
}

.read-more-link:hover {
  color: var(--text-light-grey);
}

.pagination {
  justify-content: center;
}

.older {
  margin-right: 1.5rem;
}

/* ================ MEDIA QUERIES ================ */

@media (min-width: 992px) {
  .single-post {
    width: 70%;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .about-me {
    flex-direction: column;
  }
  .profile {
    margin-bottom: 2rem;
    max-width: 70%;
  }
  .about-desc {
    max-width: 100%;
  }
  .footer-content {
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  body {
    padding-bottom: 9rem;
  }

  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .profile {
    margin-bottom: 2rem;
  }
  .footer-content {
    padding: 0 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .copyright {
    margin-bottom: 1.5rem;
  }
  .footer-content .social-icons {
    justify-content: center;
  }
  .project-preview img {
    margin-bottom: 1rem;
  }
}