<header id="header" class="alt">
  <a class="brand" href="{{ site.url }}">Zi Nguyen</a>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle">
          <span>Menu</span>
        </a>
        <div id="menu">
          <ul>
            <li>
              <a href="{{ site.url }}">Home</a>
            </li>
            <li>
              <a href="{{ site.url }}/blog">Blog</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
<!-- <nav class="navbar navbar-expand-lg">
  <a class="brand" href="{{ site.url }}">Zi Nguyen</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars nav-toggle-icon"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ site.url }}">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="{{ site.url }}/blog">Blog</a>
    </div>
  </div>
</nav> -->

<!-- <nav class="navbar">
  <div class="container">
    <div class="nav-items">
      <a class="brand" href="{{ site.url }}">Zi Nguyen</a>
    </div>
  </div>
</nav> -->