<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

<body>
	
	<header id="header" class="alt">
		<a class="brand" href="{{ site.url }}">Zi Nguyen</a>
		<nav id="nav">
			<ul>
				<li class="special">
					<a href="#menu" class="menuToggle">
						<span>Menu</span>
					</a>
					<div id="menu">
						<ul>
							<li>
								<a href="{{ site.url }}">Home</a>
							</li>
							<li>
								<a href="{{ site.url }}/blog">Blog</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>
	</header>

	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Zee Nguyen</h2>
			<p>Software Engineer in the Making</p>
		</div>
		<a href="#portfolio" class="more scrolly">View Portfolio</a>
	</section>

	<section id="portfolio" class="section projects">
		<div class="container">
			<div class="section-title">
				<h2 class="subtitle-heading margin-bottom-sm">Projects - </h2>
			</div>

			<!-- Bookswap -->
			<a href="bookswap.html">
				<div class="row project-preview">
					<div class="col-md-4 col-sm-4">
						<img src="../public/images/bbt-preview.jpg" class="img-fluid" alt="bookswap thumbnail">
					</div>
					<div class="col-md-7 col-sm-7 offset-md-1 offset-sm-1 preview">
						<div class="preview-title">
							BookSwap
						</div>
						<div class="preview-tech">
							HTML/CSS, Node.js, Express
						</div>
						<div class="preview-summary">
							<p>BookSwap is a book trading app for avid book lovers looking to trade their old books for something new.</p>
						</div>
					</div>
				</div>
			</a>
			<!--project preview-->

			<!-- Othello -->
			<a href="othello.html">
				<div class="row project-preview">
					<div class="col-md-4 col-sm-4">
						<img src="../public/images/othello.jpg" class="img-fluid" alt="othello thumbnail">
					</div>
					<div class="col-md-7 col-sm-7 offset-md-1 offset-sm-1 preview">
						<div class="preview-title">
							Othello
						</div>
						<div class="preview-tech">
							Python, Python Turtle
						</div>
						<div class="preview-summary">
							<p>Othello is a multiplayer board game based on the popular game Reversi.</p>
						</div>
					</div>
				</div>
			</a>

			<!-- OOTD Design -->
			<!-- <a href="#">
				<div class="row project-preview">
					<div class="col-md-4 col-sm-4">
						<img src="../public/images/ootd-preview.jpg" class="img-fluid" alt="ootd thumbnail">
					</div>
					<div class="col-md-7 col-sm-7 offset-md-1 offset-sm-1 preview">
						<div class="preview-title">
							OOTD
						</div>
						<div class="preview-tech">
							Web Design, Sketch
						</div>
						<div class="preview-summary">
							<p>OOTD (Outfit of the Day) is a web application that allows users to create and manage their virtual closet, getting a quick view of all the items that they own.</p>
						</div>
					</div>
				</div>
			</a> -->
			<!--project preview-->

			<!-- Gif Me It -->
			<a href="https://github.com/zinguyen/gif-me-it">
				<div class="row project-preview">
					<div class="col-md-4 col-sm-4">
						<img src="../public/images/gif-me-it-preview.jpg" class="img-fluid" alt="project thumbnail">
					</div>
					<div class="col-md-7 col-sm-7 offset-md-1 offset-sm-1 preview">
						<div class="preview-title">
							Gif Me It
						</div>
						<div class="preview-tech">
							HTML/CSS, JavaScript
						</div>
						<div class="preview-summary">
							<p>A single-page interactive web application that enables users to search for GIFs.</p>
						</div>
					</div>
				</div>
			</a>
			<!--project preview-->
		</div>
	</section>
	<!--projects-->

	<!-- ABOUT -->
	<section class="section about">
		<div class="container">
			<div class="section-title">
				<h2 class="subtitle-heading margin-bottom-sm">About - </h2>
			</div>
			<div class="row about-me">
				<div class="col-md-4 profile">
					<img class="img-fluid" src="../public/images/profile-3.jpg" alt="">
				</div>
				<div class="col-md-7 about-desc">
					<p>Hi, my name is Zee and I'm a Boston-based photographer and a software engineer in the making.</p>
					<p>My first experience with coding came a few years ago when I was working on my <a href="https://zinguyen.com/">photography portfolio</a>. Hoping to take the existing template and adjust it to fit my creative vision, I embarked on several Google adventures to learn HTML and CSS and successfully created a webpage that I loved. Back then, I found great power in using inline styling :) I felt especially empowered afterwards and before I realized, I've spent the last year and half immersing myself in learning to program.</p>
					<p>Today, I'm excited to bring my experience in marketing, digital media, and visual arts into creating beautiful and meaningful applications. I enjoy the combination of creativity and problem-solving that programming brings, together with endless opportunities to learn new things each day. I'm  currently pursuing my Master's Degree in Computer Science at Northeastern University's Khoury College of Computer and Information Sciences.</p>
					<p>When I'm not in front of a computer or behind a camera, I love to explore new places, break a sweat at the gym, or read a good book.</p>
					<p>This website is a collection of my past/ on-going projects and I also document things I've learnt in the blog.</p>
				</div>
			</div>
		</div>
	</section>


	<!-- SKILLS -->
	<section class="skills section">
		<div class="container">
			<div class="section-title">
				<h2 class="subtitle-heading margin-bottom-sm">Skills - </h2>
			</div>
			<div class="row row-eq-height">
				<div class="col">
					<div class="skill">
						<div class="skill-content">
							<h4>Front-end</h4>
							<p>HTML5, CSS3, JavaScript, ES6, CSS frameworks, CSS preprocessors, Flexbox, JS Frameworks, JS Tools (npm, Babel), BEM, Templating engines</p>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="skill">
						<div class="skill-content">
							<h4>Back-end</h4>
							<p>Node.js, Express, MongoDB, Ruby on Rails, Python, Ruby, Flask, SQL, REST API</p>
						</div>
					</div>
				</div>

				<div class="col">
					<div class="skill">
						<div class="skill-content">
							<h4>Design</h4>
							<p>UX/UI, Responsive Design, Design Tools (Sketch, Adobe Photoshop, Adobe InDesign), Wireframe</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% include footer.html %}
	<!-- Scripts -->
	<script src="{{ site.baseurl }}/public/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/jquery.scrollex.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/jquery.scrolly.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/skel.min.js"></script>
	<script src="{{ site.baseurl }}/public/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="{{ site.baseurl }}/public/js/main.js"></script>
</body>
</html>
